/* Default Light Theme */
:root, html[data-theme="light"] {
    --bg-color: #ffffff;
    --text-color: #333333;
}

/* Dark Theme */
html[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}
